{% extends "red/base.html" %}

{% block content %}

<a href="{% url 'red_index' %}">back</a>

<h2>Service List</h2>

<form action="" method="POST">
  {% csrf_token %}
  <input type="search" name="search" placeholder="search code or name" value="{{search}}"><button type="submit">Search</button>
</form>

<p>
  {% for i in pages %}
  <a href="{% url 'staff_red' i %}">{{ i }}</a> 
  {% endfor %}
</p>

<table>
  <tr>
    <th>Service Code</th>
    <th>Service Name</th>
    <th>Duration (minute)</th>
    <th>Price (per Kg)</th>
    <th>Action</th>
  </tr>
  {% for service in services %}
    <tr>
      <td>{{ service.code }}</td>
      <td>{{ service.name }}</td>
      <td>{{ service.duration }}</td>
      <td>{{ service.price }}</td>
      <td><a href="{% url 'update_red' service.code %}">Update</a></td>
    </tr>
  {% endfor %}
</table>

{% endblock %}