{% extends "red/base.html" %}

{% block content %}

<a href="{% url 'staff_red' 1 %}">back</a>

<h2>Service Update Form</h2>

<p><label for="id_code">Service Code:</label> <input type="text" name="id_code" maxlength="50" id="id_code" value="{{data.code}}" disabled></p>
<p><label for="id_name">Service Name:</label> <input type="text" name="id_name" maxlength="20" id="id_name" value="{{data.name}}"></p>
<p><label for="id_duration">Duration:</label> <input type="text" name="status" cols="40" rows="10" id="id_duration" value="{{data.duration}}">
</input></p>
<p><label for="id_price">Price (per Kg):</label> <input type="text" name="id_price" min="0" required id="id_price" value="{{data.price}}"></p>
<button type="submit" value="Update" onclick="location.href='{% url 'staff_red' 1 %}';" >Update</button>


{% endblock %}