<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SILAU</title>
    <style>
        table, td, th {
          border: 1px solid black;
        }
        table {
          border-collapse: collapse;
        }
        </style>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>