{% extends "red/base.html" %}

{% block content %}

<h2><a href="{% url 'landing_page' %}">SILAU</a></h2>

<h2>Choose Role for Testimony</h2>

<li>
    <ul><a href="{% url 'red_customer' 1 %}">Customer</a></ul>
    <ul><a href="{% url 'red_staff' 1 %}">Staff</a></ul>
    <ul><a href="{% url 'red_other' 1 %}">Other</a></ul>
</li>

<br>

<h2>Choose Role for Service</h2>

<li>
    <ul><a href="{% url 'staff_red' 1 %}">Staff</a></ul>
    <ul><a href="{% url 'other_red' 1 %}">Other</a></ul>
</li>

{% endblock %}