{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>TOPUP DPAY</title>
  </head>
  <body>
    {% block content %}    <nav class="navbar-expand-lg navbar navbar-light" style = "background-color: #89cff0 ;">
      <a class="navbar-brand" href="{% url 'landing_page' %}"><b>Back</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="{% url 'blue' %}">Home</a>
          <a class="nav-item nav-link" href="{% url 'blue-RUD-dpay-customer' %}">Customer</a>
          <a class="nav-item nav-link" href="{% url 'blue-RUD-dpay-staff' %}">Staff<span class="sr-only">(current)</span></a>
        </div>
      </div>
    </nav>
    <div style="padding: 2% 5% 2% 2%">
    <h1 style="padding-bottom: 1%;">CREATE DPAY TRANSACTION (STAFF ONLY)</h1>
      <form style='padding-left: 1%'>
        <div class="form-row">
          <div class="form-group">
            <label for="sel1">Email:</label>
            <select class="form-control" id="sel1" name="email">
              {% for i in emails %}
              <option>{{i.email}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="inputMax">Nominal</label>
            <input type="text" class="form-control" id="inputMax" name="nominal" placeholder="Nominal (in IDR)">
          </div>
        </div>

        <a href="{% url 'blue-RUD-dpay-staff' %}"><button type="submit" class="btn btn-dark">SUBMIT</button></a>
      </form>
      {% endblock content %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
