{% extends "red/base.html" %}

{% block content %}

<a href="{% url 'red_customer' 1 %}">back</a>

<h2>Testimony Form</h2>

<p><label for="id_email">Email:</label> <select name="id_email" id="id_email">
  <option value="dropdown">dropdown</option>
  {% for d in data %}
  <option value="{{ d.email }}">{{ d.email }}</option>
  {% endfor %}
  </select>
</p>

<p><label for="id_transaction_date">Transaction date:</label> <select name="id_email" id="id_email">
  <option value="dropdown">dropdown</option>
  {% for d in data %}
  <option value="{{ d.date }}">{{ d.date }}</option>
  {% endfor %}
</select></p>
<p><label for="id_status">Status:</label> <textarea name="status" cols="40" rows="10" required id="id_status">
</textarea></p>
<p><label for="id_rating">Rating:</label> <input type="number" name="rating" min="0" required id="id_rating"></p>
<button type="submit" value="Update" onclick="location.href='{% url 'red_customer' 1 %}';">Submit</button>

{% endblock %}