{% extends "red/testimony/testimony.html" %}

{% block testimony %}

<p>
  {% for i in pages %}
  <a href="{% url 'red_customer' i %}">{{ i }}</a> 
  {% endfor %}
</p>

<table>
  <tr>
    <th>Email</th>
    <th>Transaction Date</th>
    <th>Testimonies Date</th>
    <th>Status</th>
    <th>Rating</th>
    <th>Action</th>
  </tr>
  {% for testimony in testimonies %}
    <tr>
      <td>{{ testimony.email }}</td>
      <td>{{ testimony.transaction_date|truncatechars:12 }}</td>
      <td>{{ testimony.testimony_date|truncatechars:12 }}</td>
      <td>{{ testimony.status }}</td>
      <td>{{ testimony.rating }}</td>
      <td><a href="{% url 'red_update' %}">update</a> <button>delete</button></td>
    </tr>
  {% endfor %}
</table>

<a href="{% url 'red_create' %}">Create Testimony</a>

{% endblock %}