{% extends "red/base.html" %}

{% block content %}

<a href="{% url 'red_staff' 1 %}">back</a>

<h2>Testimony Update Form</h2>

<p><label for="id_email">Email:</label> <input type="text" name="email" maxlength="50" required id="id_email" value="bsnassell0@google.ca" disabled></p>
<p><label for="id_transaction_date">Transaction date:</label> <input type="text" name="transaction_date" maxlength="20" id="id_transaction_date" value="2020-11-06 05:19:01" disabled></p>
<p><label for="id_status">Status:</label> <textarea name="status" cols="40" rows="10" required id="id_status" placeholder="
    Maecenas leo odio, condimentum id, luctus nec, molestie sed, justo. Pellentesque viverra pede ac diam. Cras pellentesque volutpat dui.
">
</textarea></p>
<p><label for="id_rating">Rating:</label> <input type="number" name="rating" min="0" required id="id_rating" value="4"></p>
<button type="submit" value="Update" onclick="location.href='{% url 'red_staff' 1 %}';">Update</button>


{% endblock %}