{% extends "red/base.html" %}

{% block content %}
<a href="{% url 'red_index' %}">back</a>

<h2>Testimony List</h2>

<form action="" method="POST">
  {% csrf_token %}
  <input type="search" name="search" placeholder="search email" value="{{search}}"><button type="submit">Search</button>
</form>

{% block testimony %}
{% endblock %}

{% endblock %}