{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tags-->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- CSS Files-->
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'green/css/bootstrap.min.css' %}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'green/css/styles.css' %}"
        />
        <!-- title djtag -->
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Green</title>
        {% endif %}
    </head>
    <body>
        {% block content %} {% endblock content %}
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"
        ></script>
    </body>
    <script src="{% static 'green/scripts/main.js' %}"></script>
</html>
