{%extends 'green/base.html'%} {%block content%} {%load static%}
<div class="container" style="padding: 2em">
    <a href="{% url 'green' %}"
        ><button type="button" class="btn btn-sm btn-danger">Back</button>
    </a>
    <h1 style="color: green">Customer Laundry List Page</h1>
    <h4>Your laundry list:</h4>
    <nav class="navbar">
        <div class="container-fluid">
            <p>Page {{pageno}}</p>
            <form class="d-flex" method="POST">
                {% csrf_token %}
                <input
                    class="form-control me-2"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
                    name="search"
                />
                <button class="btn btn-outline-success" type="submit">
                    Search
                </button>
            </form>
        </div>
    </nav>
    <nav aria-label="Page navigation example" style>
        <ul class="pagination justify-content-center">
            {% for i in pages %}
            <li class="page-item">
                <a class="page-link" href="{% url 'green-customer' i %}"
                    >{{i}}</a
                >
            </li>
            {% endfor %}
        </ul>
    </nav>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Date Transaksi</th>
                    <th scope="col">No Urut</th>
                    <th scope="col">Jumlah Item</th>
                    <th scope="col">Item Code</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                <tr>
                    <td>{{i.email}}</td>
                    <td>{{i.transaction_date}}</td>
                    <td>{{i.serial_no}}</td>
                    <td>{{i.item_amount}}</td>
                    <td>{{i.item_code}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
