{%extends 'green/base.html'%} {%block content%} {%load static%}
<div class="container" style="padding: 1em">
    <a href="{% url 'landing_page' %}">
        <button class="btn btn-primary">Back to Landing Page</button>
    </a>
</div>
<div class="container" style="padding: 2em">
    <h1 style="color: green; display: inline">Laundry List</h1>
    <p style="display: inline">by Ahmad Izzudin Alifyandra</p>
    <div class="container" style="padding: 0.5em">
        <h4>I am a:</h4>
        <a href="{% url 'green-customer' 1 %}"
            ><button type="button" class="btn btn-success">Customer</button></a
        >
        <a href="{% url 'green-staff' 1 %}"
            ><button type="button" class="btn btn-warning">Staff</button></a
        >
    </div>
</div>
<div class="container" style="padding: 2em">
    <h1 style="color: green; display: inline">Item List</h1>
    <p style="display: inline">by Ahmad Izzudin Alifyandra</p>
    <div class="container" style="padding: 0.5em">
        <h4>I am a:</h4>
        <a href="{% url 'green-item-customer' 1 %}"
            ><button type="button" class="btn btn-success">Non-staff</button></a
        >
        <a href="{% url 'green-item-staff' 1 %}"
            ><button type="button" class="btn btn-warning">Staff</button></a
        >
    </div>
</div>
{%endblock content%}
