{%extends 'green/base.html'%} {%block content%} {%load static%}
<div class="container" style="padding: 2em">
    <a href="{% url 'green-item-staff' 1 %}"
        ><button type="button" class="btn btn-danger btn-sm">Back</button>
    </a>
    <h1>Create Item</h1>
    <div class="container" style="padding: 0.5em">
        <form method="POST" action="{% url 'green-item-create' %}">
            {% csrf_token %}
            <h5>Form Item</h5>
            <div class="col-auto">
                <label for="inputCode" class="form-label">Item Code</label>
                <input
                    type="text"
                    class="form-control"
                    id="inputCode"
                    placeholder="XX"
                    name="code"
                />
            </div>
            <div class="col-auto">
                <label for="inputName" class="form-label">Item Name</label>
                <input
                    type="text"
                    class="form-control"
                    id="inputName"
                    placeholder="Xxx"
                    name="name"
                />
            </div>
            <br />
            <div class="col-auto">
                <button type="submit" class="btn btn-primary btn-sm">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
{%endblock content%}
