{%extends 'green/base.html'%} {%block content%} {%load static%}
<div class="container" style="padding: 2em">
    <a href="{% url 'green-staff' 1 %}"
        ><button type="button" class="btn btn-danger btn-sm">Back</button>
    </a>
    <h1>Update Laundry List</h1>
    <div class="container" style="padding: 0.5em">
        <form
            action="{% url 'green-staff-update' data.serial_no %}"
            method="POST"
        >
            {%csrf_token%} {%if form.errors%} {%for field in form%}
            <!-- prettier-ignore -->
            {%for error in field.errors%}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %} {% endfor %} {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %} {% endif %}
            <h5>Form Update Laundry List</h5>
            <div class="col-auto">
                <label for="inputEmail" class="form-label">Email</label>
                <input
                    type="email"
                    name="email"
                    class="form-control"
                    id="inputEmail"
                    value="{{data.email}}"
                    readonly
                />
            </div>
            <div class="col-auto">
                <label for="inputDate" class="form-label">Date</label>
                <input
                    type="text"
                    name="transaction_date"
                    class="form-control"
                    id="inputDate"
                    value="{{data.transaction_date}}"
                    readonly
                />
            </div>
            <div class="col-auto">
                <label for="inputNumber" class="form-label"
                    >Serial Number</label
                >
                <input
                    type="number"
                    name="serial_no"
                    class="form-control"
                    id="inputNumber"
                    placeholder="{{data.serial_no}}"
                />
            </div>
            <div class="col-auto">
                <label for="inputItem" class="form-label">Total Item</label>
                <input
                    type="number"
                    name="item_amount"
                    class="form-control"
                    id="inputItem"
                    placeholder="{{data.item_amount}}"
                />
            </div>
            <div class="col-auto">
                <label for="inputCode" class="form-label">Item Code</label>
                <br />
                <select
                    name="item_code"
                    class="form-select form-select-lg"
                    aria-label="form-select-lg Default select example"
                    id="inputCode"
                >
                    <option selected>Dropdown</option>
                    {% for item_code in item_codes %}
                    <option value="{{item_code.code}}">
                        {{item_code.code}}
                    </option>
                    {% endfor %}
                    <!-- <option value="1">L1</option>
                    <option value="2">L2</option>
                    <option value="3">L3</option> -->
                </select>
            </div>
            <br />
            <div class="col-auto">
                <button type="submit" class="btn btn-primary btn-sm">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
{%endblock content%}
