{%extends 'green/base.html'%} {%block content%} {%load static%}
<div class="container" style="padding: 2em">
    <a href="{% url 'green-staff' 1 %}"
        ><button type="button" class="btn btn-danger btn-sm">Back</button>
    </a>
    <h1>Create Laundry List</h1>
    <div class="container" style="padding: 0.5em">
        <form method="POST" action="{% url 'green-staff-create' %}">
            {% csrf_token %}
            <h5>Form Create Laundry List</h5>
            <div class="col-auto">
                <label for="inputEmail" class="form-label">Email</label>
                <select
                    class="form-select form-select-lg"
                    aria-label="form-select-lg Default select example"
                    id="inputEmail"
                    name="email"
                >
                    <option selected>Dropdown</option>
                    {% for i in emails %}
                    <option value="{{i.email}}">{{i.email}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-auto">
                <label for="inputItem" class="form-label">Total Item</label>
                <input
                    type="number"
                    class="form-control"
                    id="inputItem"
                    placeholder="4"
                    name="item_amount"
                />
            </div>
            <div class="col-auto">
                <label for="inputCode" class="form-label">Item Code</label>
                <br />
                <select
                    class="form-select form-select-lg"
                    aria-label="form-select-lg Default select example"
                    id="inputCode"
                    name="item_code"
                >
                    <option selected>Dropdown</option>
                    {% for i in codes %}
                    <option value="{{i.code}}">{{i.code}}</option>
                    {% endfor %}
                </select>
            </div>
            <br />
            <div class="col-auto">
                <button type="submit" class="btn btn-primary btn-sm">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
{%endblock content%}
