{%extends 'green/base.html'%} {%block content%} {%load static%}
<div class="container" style="padding: 2em">
    <a href="{% url 'green' %}"
        ><button type="button" class="btn btn-danger btn-sm">Back</button>
    </a>
    <h1 style="color: green">Staff Laundry List Admin Page</h1>
    <nav class="navbar">
        <div class="container-fluid">
            <p><b>Page {{pageno}}</b></p>
            <form class="d-flex" method="POST">
                {% csrf_token %}
                <input
                    class="form-control me-2"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
                    name="search"
                />
                <button class="btn btn-outline-success" type="submit">
                    Search
                </button>
            </form>
            <a class="nav-link" href="{% url 'green-staff-create' %}"
                ><button type="button" class="btn btn-success">
                    Create List
                </button></a
            >
        </div>
    </nav>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% for i in pages %}
            <li class="page-item">
                <a class="page-link" href="{% url 'green-staff' i %}">{{i}}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Date Transaksi</th>
                    <th scope="col">No Urut</th>
                    <th scope="col">Jumlah Item</th>
                    <th scope="col">Item Code</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                <tr>
                    <td>{{i.email}}</td>
                    <td>{{i.transaction_date}}</td>
                    <td>{{i.serial_no}}</td>
                    <td>{{i.item_amount}}</td>
                    <td>{{i.item_code}}</td>
                    <td>
                        <a href="{% url 'green-staff-update' i.serial_no %}"
                            ><button
                                type="button"
                                class="btn btn-primary btn-sm"
                            >
                                Update
                            </button>
                        </a>
                        <button
                            type="button"
                            class="btn btn-danger btn-sm"
                            data-toggle="modal"
                            data-target="#exampleModal"
                            onclick="modalDelete('{{i.serial_no}}')"
                        >
                            Delete
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
    >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Are you sure you want to delete?
                    </h5>
                    <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Be sure the data to be deleted is correct.
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                    >
                        Cancel
                    </button>
                    <form action="" method></form>
                    <a href="" id="deleteList">
                        <button type="button" class="btn btn-danger">
                            Delete
                        </button></a
                    >
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function modalDelete(serial) {
        var url = "{% url 'green-staff-delete' 123 %}";
        document.getElementById("deleteList").href = url.replace("123", serial);
    }
</script>
{% endblock content %}
