<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SILAU</title>
    </head>
    <body>
        <a href="{% url 'landing_page' %}">back</a>
        <br>
        Create Customer account
        <form method="post">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
    </body>
</html>
