<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SILAU</title>
    </head>
    <body>
        {% if user.user %} Hello {{user.email}} Role: {{user.user}}
        <a href="{% url 'logout' %}">logout</a>

        {% else %}
        <a href="{% url 'login' %}">login</a>
        <a href="{% url 'choose_role' %}">sign up</a>
        {% endif %}

        <h3>Feature Links</h3>
        <a href="{% url 'green' %}">Green</a>
        <a href="{% url 'home' %}">Yellow</a>
        <a href="{% url 'red_index' %}">Red</a>
        <a href="{% url 'blue' %}">Blue</a>
    </body>
</html>
