<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login Page</title>
    </head>
    <body>
        <div class="container">
            <a href="{% url 'landing_page' %}">back</a>
            <h1>Login Form</h1>
            <br />
            <form action="" method="POST">
                {% csrf_token %} {{form.as_p}}
                <input type="submit" value="Login" />
            </form>
        </div>
    </body>
</html>
