<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SILAU</title>
    </head>
    <body>
        <h3>Choose Role</h3>
        <li>
            <ul>
                <a href="{% url 'customer_signup' %}">Customer</a>
            </ul>
            <ul>
                <a href="{% url 'staff_signup' %}">Staff</a>
            </ul>
            <ul>
                <a href="{% url 'courier_signup' %}"> Courier</a>
            </ul>
        </li>
    </body>
</html>
