<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>CREATE Staff Pickup and Delivery Price</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
      <div class="container-fluid">
        <a class="navbar-brand font-weight-bold" href="{% url 'home'%}">YELLOW</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active font-weight-bold" href="{% url 'home'%}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active font-weight-bold" href="{% url 'customerlist'%}">Customer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active font-weight-bold" href="{% url 'stafflist'%}">Staff</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active font-weight-bold" href="{% url 'createstaffpickup'%}">PickUp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active font-weight-bold" href="{% url 'landing_page' %}">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <h1>FORM CREATE PICKUP AND DELIVERY PRICE</h1>
    <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCode">Code</label>
            <input type="email" class="form-control" id="inputCode" placeholder="content">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputMin">Min Distance</label>
             <input type="text" class="form-control" id="inputMin" placeholder="content">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputMax">Max Distance</label>
            <input type="text" class="form-control" id="inputMax" placeholder="content">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputPrice">Price</label>
            <input type="text" class="form-control" id="inputPrice" placeholder="content">
          </div>
        </div>
        <a href="{% url 'stafflist'%}"><button type="button" class="btn btn-warning">SUBMIT</button></a>
      </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>