<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Staff Pickup and Delivery Price</title>
  </head>
  <body>
    {% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
      <div class="container-fluid">
        <a class="navbar-brand font-weight-bold" href="{% url 'home'%}">YELLOW</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active font-weight-bold" href="{% url 'home'%}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active font-weight-bold" href="{% url 'customerlist'%}">Customer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active font-weight-bold" href="{% url 'stafflist'%}">Staff</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active font-weight-bold" href="{% url 'createstaffpickup'%}">PickUp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active font-weight-bold" href="{% url 'landing_page' %}">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <h1 style=" text-align : center">Staff Pickup and Delivery Price</h1>
    <div class="container">
      <table class="table">
          <thead class="thead-dark">
              <tr>
                  <th class="text-warning" scope="col">#</th>
                  <th class="text-warning" scope="col">Code</th>
                  <th class="text-warning" scope="col">Min Distance (KM)</th>
                  <th class="text-warning" scope="col">Max Distance (KM)</th>
                  <th class="text-warning" scope="col">Price</th>
                  <th class="text-warning" scope="col">Action</th>
              </tr>
          </thead>
          <tbody>
            {% for i in data %}
            <tr>
                <th scope="row"></th>
                <td>{{i.code}}</td>
                <td>{{i.min_distance}}</td>
                <td>{{i.max_distance}}</td>
                <td>{{i.rate}}</td>
                <td><a href="{% url 'updatestaff'%}"><button type="button" class="btn btn-warning">Update</button></a>
                  <button type="button" class="btn btn-warning">Delete</button>
                </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>   

  {% endblock content %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>